<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="MelodiasContext"
			 connectionString="Server=.\MSSQLALTA;Database=melodiasDataBase;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="normalBinding" receiveTimeout="01:00:00">
					<reliableSession enabled="true" inactivityTimeout="00:01:00" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="MelodiasService.Implementations.ServiceImplementation">
				<!-- Usuarios -->
				<endpoint address="Users"
						  binding="netTcpBinding"
						  bindingConfiguration="normalBinding"
						  contract="MelodiasService.IUsersManager" />

				<!-- Productos -->
				<endpoint address="Products"
						  binding="netTcpBinding"
						  bindingConfiguration="normalBinding"
						  contract="MelodiasService.IProductsManager" />

				<!-- Proveedores -->
				<endpoint address="Suppliers"
						  binding="netTcpBinding"
						  bindingConfiguration="normalBinding"
						  contract="MelodiasService.ISuppliersManager" />

				<!-- Ventas -->
				<endpoint address="Sales"
						  binding="netTcpBinding"
						  bindingConfiguration="normalBinding"
						  contract="MelodiasService.ISalesManager" />

				<!-- Metadata exchange -->
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8001/ServiceImplementation" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
